:root {
    scroll-behavior: smooth;
    --primary-theme-color: #20322a;
    --secondary-theme-color: #282c34;
    --text-color: #fff;
    --primary-shadow-color: #8888;
    --secondary-shadow-color: #21242c88;
    --button-color: #61dafb;
    --button-color-active: #fff;
    --button-text-color: #000;
    --primary-highlight: #61dafb;
    --secondary-highlight: #ffd700;
    --padding-section: 4em 0;
    --padding-container: 0 2rem;
    --max-width-container: 1024px;
    --border-radius: 0.5rem;
    --all-transition: all 0.25s;
}

.projects {
    padding: var(--padding-section);
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding: var(--padding-container);
}

.projects__title {
    font-size: 2rem;
    text-shadow: 0 0 0.25rem var(--primary-highlight);
    margin: 0;
}

.prjects__pojects-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.projects__projects-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--secondary-theme-color);
    border-radius: var(--border-radius);
    box-shadow: 
        0 0 0 0.125rem var(--primary-shadow-color),
        0 0 0 0.25rem var(--primary-shadow-color);
    overflow: hidden;
    transition: var(--all-transition);
}

.projects__projects-item:hover {
    box-shadow: 
        0 0 0 0.25rem var(--primary-highlight),
        0 0 0.5rem 0 var(--secondary-highlight),
        0 0 0.75rem 0 var(--secondary-highlight);
    transform: scale(1.05);
}

.projects__item-image-container {
    display: flex;
    margin: 0;
    width: 100%;


}

.projects__item-image {
    width: 100%;
}

.projects__item-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
    padding: 0 1rem;
}

.projects__item-data-title {
    text-shadow: 0 0 0.125rem var(--primary-highlight);
    
    margin: 0;
}

.projects__item-data-core-technology {
    font-weight: 500;
    margin: 0;
}

.projects__item-data-technology {
    text-shadow: 0 0 0.125rem var(--primary-highlight);
    font-weight: 300;
    margin: 0;
}

.projects__item-data-about {
    margin: 0;
}

.projects__item-buttom-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem 1rem;
}

.projects__item-buttom {
    font-weight: 700;
    background-color: var(--button-color);
    border: 0.0625rem solid var(--button-color);
    border-radius: var(--border-radius);
    padding: 0.5em 1em;
    color: var(--button-text-color);
    text-decoration: none;
    transition: var(--all-transition);
}

.projects__item-buttom--bg-gold {
    background-color: var(--secondary-highlight);
    border: 0.0625rem solid var(--secondary-highlight);
}

.projects__item-buttom:hover {
    background-color: var(--button-color-active);
}